In [ ]:
pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 48 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 66.0 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.1-py2.py3-none-any.whl size=281845512 sha256=85eb326af7e7b5efde99b21773886da30f28a286f33a8f7d7996073f349c89f4
  Stored in directory: /root/.cache/pip/wheels/43/dc/11/ec201cd671da62fa9c5cc77078235e40722170ceba231d7598
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.1

In [ ]:
from pyspark import SparkContext,SparkConf
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

In [ ]:
conf=SparkConf().setAppName('pyspark_Assignment')
sc=SparkContext(conf=conf)
spark=SparkSession.builder.appName('first_assignment').getOrCreate()
sqlcontext=SQLContext(sc)

/usr/local/lib/python3.8/dist-packages/pyspark/sql/context.py:112: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  warnings.warn(

# 1.Create a dataframe with Total Aadhaar's generated for each state

In [ ]:
df=spark.read.format('csv').option('header','true').option('delimiter',',').option('inferSchema','true').load('/content/UIDAI-ENR-DETAIL-20170308.csv')
df.show()

+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|           Registrar|    Enrolment Agency|        State|  District|Sub District|Pin Code|Gender|Age|Aadhaar generated|Enrolment Rejected|Residents providing email|Residents providing mobile number|
+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
|      Allahabad Bank|A-Onerealtors Pvt...|Uttar Pradesh| Allahabad|        Meja|  212303|     F|  7|                1|                 0|                        0|                                1|
|      Allahabad Bank|Asha Security Gua...|Uttar Pradesh| Sonbhadra| Robertsganj|  231213|     M|  8|                1|                 0|                        0|                                0|
|      Allahabad Bank|   SGS INDIA PVT LTD|Uttar Pradesh| Sultanpur|   Sultanpur|  227812|     F| 13|                1|                 0|                        0|                                1|
|      Allahabad Bank|Sri Ramraja Sarka...|Uttar Pradesh|    Shamli|      Shamli|  247775|     M|  6|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh| Gorakhpur|    Sahjanwa|  273001|     M|  8|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|      Pindra|  221101|     M| 14|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221001|     M|  9|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M|  4|                1|                 0|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M| 10|                0|                 1|                        0|                                1|
|      Allahabad Bank|  Transmoovers India|Uttar Pradesh|  Varanasi|    Varanasi|  221002|     M| 19|                1|                 0|                        0|                                1|
|      Allahabad Bank|Vedavaag Systems ...|Uttar Pradesh|Bara Banki|   Nawabganj|  225301|     M|  8|                1|                 0|                        0|                                0|
|Atalji Janasnehi ...|Atalji Janasnehi ...|        Assam|  Marigaon|   Bhuragaon|  782121|     M| 22|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|        Bihar| Gopalganj|  Vijayeepur|  841508|     M| 26|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587114|     M| 27|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587155|     F|  2|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587155|     M| 67|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587201|     F| 32|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587203|     M| 27|                1|                 0|                        0|                                1|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587206|     F| 40|                1|                 0|                        0|                                0|
|Atalji Janasnehi ...|Atalji Janasnehi ...|    Karnataka|  Bagalkot|      Badami|  587206|     M| 28|                1|                 0|                        0|                                1|
+--------------------+--------------------+-------------+----------+------------+--------+------+---+-----------------+------------------+-------------------------+---------------------------------+
only showing top 20 rows

In [ ]:
df1=df.filter(df['Aadhaar generated']>=1)
res=df1.groupBy('State').sum('Aadhaar generated')
res.show()

+--------------------+----------------------+
|               State|sum(Aadhaar generated)|
+--------------------+----------------------+
|            Nagaland|                   545|
|           Karnataka|                 19764|
|              Odisha|                 18182|
|              Kerala|                 15143|
|          Tamil Nadu|                 32485|
|        Chhattisgarh|                  6604|
|      Andhra Pradesh|                  5798|
|      Madhya Pradesh|                 53276|
|              Punjab|                  6506|
|             Manipur|                  1323|
|                 Goa|                  1167|
|             Mizoram|                  6279|
|Dadra and Nagar H...|                   140|
|    Himachal Pradesh|                  1547|
|          Puducherry|                    83|
|             Haryana|                  6804|
|   Jammu and Kashmir|                  1234|
|           Jharkhand|                  9868|
|   Arunachal Pradesh|                   913|
|             Gujarat|                 34844|
+--------------------+----------------------+
only showing top 20 rows

# 2.Create a dataframe with the Total Aadhaar's generated by each enrollment agency

In [ ]:
df2=df.groupBy('Enrolment Agency').sum('Aadhaar generated')
df2.show()

+--------------------+----------------------+
|    Enrolment Agency|sum(Aadhaar generated)|
+--------------------+----------------------+
|Raj Construction Co.|                   532|
|      CO JOMLO MOBUK|                     8|
|NPS Technologies ...|                  9692|
|    APOnline Limited|                   305|
|  Transmoovers India|                     5|
|Zephyr System Pvt...|                  6946|
|          ADC BOLENG|                     2|
|Emdee Digitronics...|                  2078|
|Netlink software ...|                  4832|
|     DSO STAT NAMSAI|                    50|
|Estex Telecom Pvt...|                  1894|
|Squaria Global In...|                  1368|
|EAC OFFICE KAYING...|                    21|
|IAP COMPANY Pvt. Ltd|                 10644|
|Prakash Computer ...|                  2817|
|      CDPO Tezu ICDS|                    66|
|       APEX Services|                   109|
|Synapses Solution...|                  2843|
|Yashi Informatics...|                     5|
|HyperSoft Technol...|                    33|
+--------------------+----------------------+
only showing top 20 rows

# 3.Create dataframe with the top 10 districts with maximum Aadhaar's generated for both Male and females

In [ ]:
import pyspark.sql.functions as f

In [ ]:
df=spark.read.format('csv').option('header','true').option('delimiter',',').option('inferSchema','true').load('/content/UIDAI-ENR-DETAIL-20170308.csv')
df1=df.filter(df['Gender']=='F')
df2=df1.groupBy('District').sum('Aadhaar generated')
df3=df2.orderBy(f.desc("sum(Aadhaar generated)")).limit(10)
df3.show()

+-----------------+----------------------+
|         District|sum(Aadhaar generated)|
+-----------------+----------------------+
|       Barddhaman|                  9744|
|South 24 Parganas|                  8382|
|North 24 Parganas|                  6108|
|             Gaya|                  4796|
|       Jalpaiguri|                  4428|
|Paschim Medinipur|                  3965|
|           Howrah|                  3516|
|        Bhagalpur|                  3472|
|           Budaun|                  2905|
|            Banka|                  2882|
+-----------------+----------------------+

In [ ]:
df=spark.read.format('csv').option('header','true').option('delimiter',',').option('inferSchema','true').load('/content/UIDAI-ENR-DETAIL-20170308.csv')
df1=df.groupBy('District','Gender').sum('Aadhaar generated')
df2=df1.orderBy(f.desc("sum(Aadhaar generated)")).limit(10)
df2.show()

+-----------------+------+----------------------+
|         District|Gender|sum(Aadhaar generated)|
+-----------------+------+----------------------+
|        Bhagalpur|     M|                 11007|
|       Barddhaman|     F|                  9744|
|South 24 Parganas|     F|                  8382|
|South 24 Parganas|     M|                  7825|
|          Katihar|     M|                  6968|
|      Murshidabad|     M|                  6808|
|       Samastipur|     M|                  6195|
|            Patna|     M|                  6191|
|North 24 Parganas|     F|                  6108|
|       Barddhaman|     M|                  6077|
+-----------------+------+----------------------+

# 4.Create a dataframe with Total Aadhaar generated for the top 10 least states

In [ ]:
df=spark.read.format('csv').option('header','true').option('delimiter',',').option('inferSchema','true').load('/content/UIDAI-ENR-DETAIL-20170308.csv')
df1=df.groupBy('State').sum('Aadhaar generated')
df2=df1.orderBy(f.asc("sum(Aadhaar generated)")).limit(10)
df2.show()

+--------------------+----------------------+
|               State|sum(Aadhaar generated)|
+--------------------+----------------------+
|         Lakshadweep|                     4|
|Andaman and Nicob...|                     5|
|              Others|                    12|
|              Sikkim|                    50|
|          Puducherry|                    83|
|       Daman and Diu|                   105|
|Dadra and Nagar H...|                   140|
|          Chandigarh|                   259|
|           Meghalaya|                   277|
|            Nagaland|                   545|
+--------------------+----------------------+

# 5.For which age, most Aadhar cards have declined

In [ ]:
df=spark.read.format('csv').option('header','true').option('delimiter',',').option('inferSchema','true').load('/content/UIDAI-ENR-DETAIL-20170308.csv')
df1=df.filter(df['Aadhaar generated']==0)
df2=df1.groupBy('State').count()
df3=df2.orderBy(f.desc('count')).limit(10)
df3.show()

+--------------+-----+
|         State|count|
+--------------+-----+
|         Bihar| 2982|
| Uttar Pradesh| 2854|
|   West Bengal| 2770|
|Madhya Pradesh| 1654|
|     Rajasthan| 1143|
|   Maharashtra| 1117|
|       Gujarat| 1087|
|     Karnataka| 1025|
|        Odisha|  860|
|    Tamil Nadu|  776|
+--------------+-----+

In [ ]:
df=spark.read.format('csv').option('header','true').option('delimiter',',').option('inferSchema','true').load('/content/UIDAI-ENR-DETAIL-20170308.csv')
df1=df.filter(df['Enrolment Rejected']==1)
df2=df1.groupBy('Age').sum('Enrolment Rejected')
df3=df2.orderBy(f.desc('sum(Enrolment Rejected)'))
df3.show()

+---+-----------------------+
|Age|sum(Enrolment Rejected)|
+---+-----------------------+
|  4|                   3071|
|  3|                   2546|
|  2|                   2364|
|  1|                   2294|
|  0|                   2050|
|  5|                   1431|
|  6|                   1227|
|  7|                   1067|
|  8|                    884|
|  9|                    707|
| 10|                    702|
| 11|                    496|
| 12|                    463|
| 13|                    363|
| 18|                    349|
| 14|                    315|
| 22|                    313|
| 20|                    305|
| 21|                    279|
| 19|                    275|
+---+-----------------------+
only showing top 20 rows