**Q1: You are working in a bank and you have been given two lists of the employees who worked in 2021. Employee’s name in list 1 are Ramesh, Suresh, Mahesh, Ali, Jacob and Saritha. List 2 contains the names of Ali, Mukesh, Mahesh, Jacob, Sai, Sarita. Please write a program which helps to identify people who are common in both lists. Please do not use any in-built function. **

In [ ]:
emp_name1=['Ramesh','Suresh','Mahesh','Ali','Jacob','Saritha']
emp_name2=['Ali','Mukesh','Mahesh','Jacob','Sai','Sarita']
common_names,distinct_names=[],[]
for i in emp_name1:
  for j in emp_name2:
    if i==j:
      common_names.append(i)
for i in emp_name1:
  if i not in emp_name2:
      distinct_names.append(i) 
for j in emp_name2:
  if j not in emp_name1:
    distinct_names.append(j) 

print('common names in two lists : ',common_names,'\ndistinct names in two lists : ',distinct_names)

common names in two lists :  ['Mahesh', 'Ali', 'Jacob']
distinct names in two lists :  ['Ramesh', 'Suresh', 'Saritha', 'Mukesh', 'Sai', 'Sarita']

**Q2: While entering data, someone entered a few names as a common string “Ramesh Suresh Mohit”. Please write a program which separates all the names and convert them into a list. Once converted in a list, please write a program which adds their age.
Ramesh :  25
Suresh : 22
Mohit : 26**

In [1]:
string="Ramesh Suresh Mohit"
l=string.split(' ')
print(type(l))
nl=[]
print(l)
for i in l:
  a=int(input('enter age:'))
  nl.append([i,a])
print(nl)

<class 'list'>
['Ramesh', 'Suresh', 'Mohit']
enter age:25
enter age:22
enter age:26
[['Ramesh', 25], ['Suresh', 22], ['Mohit', 26]]

** Q3: A few students from a university have taken three exams

Name = Sam, Jacy, Tom, Steve

Python = 25, 26, 29, 28

Statistics = 23, 21, 19, 25

SQL = 29, 27, 28, 25 

Please write a program which calculates mean values (no in-built function for mean) of all three tests and print the highest mean value. Addition and other functions are allowed. Please also report who scored the highest mark in python using programming construct.  **

In [2]:
Name = ['Sam','Jacy','Tom','Steve']
Python = [25, 26, 29, 28]
Statistics = [23, 21, 19, 25]
SQL = [29, 27, 28, 25] 
avg_marks,max,max_python=[],0,0
j=0
p=0
for i in Name:
  avg=(Python[j]+Statistics[j]+SQL[j])/3
  avg_marks.append([i,round(avg,2)])
  j+=1
  if max<avg:
    max=avg
print('avg marks fr each student : ',avg_marks)
print('highest mean value:',max)
for i in Python:
  if max_python<i:
    max_python=i
    p+=1
print('Name who scored max in python :',Name[p-1],'\nmax marks of Python ',max_python)

avg marks fr each student :  [['Sam', 25.67], ['Jacy', 24.67], ['Tom', 25.33], ['Steve', 26.0]]
highest mean value: 26.0
Name who scored max in python : Tom
max marks of Python  29

**Q4: You are working in a medical store. A patient came to your medical store and asked to buy 2 strips of paracetamol, 3 strips of azithromycin and 5 strips of Vitamin C. One strip of paracetamol costs Rs 35, one strip of azithromycin costs Rs 49 and one strip of vitamin c costs Rs. 33. Patient gave you Rs 2000. Please tell us what is the total cost of each medicine, total cost of all medicine and how much money you refunded to the patient?  
**

In [ ]:
paracetamol_cost=35
azithromycin_cost=49
vitamin_c_cost=33
ps=int(input())
ams=int(input())
vcs=int(input())
total=ps*paracetamol_cost+ams*azithromycin_cost+vcs*vitamin_c_cost
totalpay=int(input())
rem_balance=totalpay-total
print('total cost of each medicine:\nparacetamol_cost :',ps*paracetamol_cost,'\nazithromycin_cost : ',ams*azithromycin_cost,'\nvitamin_c_cost',vitamin_c_cost*vcs)
print('total amount patient gave: ',totalpay,'\ntotal bill : ',total,'\nrefund:',rem_balance)

2
3
5
2000
total cost of each medicine:
paracetamol_cost : 70
azithromycin_cost :  147
vitamin_c_cost 165
total amount patient gave:  2000
total bill :  382
refund: 1618

**Q5: Accept a sentence as input and find the number of vowels in it. Assume that the sentence has no punctuation marks. For example: I am learning python contains 6 vowels. This function should be applicable for all other different sentences. **

In [ ]:
string=input('enter a sentence with no punctuation marks : ')
v='aeiouAEIOU'
c=0
for i in string:
  if i in v:
    c+=1
print('no vowels in the sentence = ',c)

enter a sentence with no punctuation marks : hi hello this is python program
no vowels in the sentence =  8

**Q6: You have been appointed by the election commission to create a website. Your first task is to work on a program which tells candidates if they are eligible for voting or not. If they are eligible your output should be ‘Congrats! You are eligible’, otherwise it should tell that you have to return after X number of years. Eligibility criteria for voting is 18 years. 

For example, If someone is 18 or above your output should be ‘Congrats! You are eligible’. If someone’s age is 15 years it should print output as ‘return after 3 years’.   **

In [ ]:
age=int(input('enter your age : '))
age_limit=18
if age>=18:
  print('Congrats! You are eligible')
else:
  print('return after ',age_limit-age,' years')

enter your age : 45
Congrats! You are eligible